0 - Formula sheets/
Communication/Lecture notes/
Computer Architecture/CPU/Coursework/
Computer Architecture/CPU/Lecture notes/
Computer Architecture/CPU/Textbooks/

Computer Architecture/CPU/Personal notes/0 - Computer Abstraction/Computer Abstraction.aux
Computer Architecture/CPU/Personal notes/0 - Computer Abstraction/Computer Abstraction.bbl
Computer Architecture/CPU/Personal notes/0 - Computer Abstraction/Computer Abstraction.bcf
Computer Architecture/CPU/Personal notes/0 - Computer Abstraction/Computer Abstraction.blg
Computer Architecture/CPU/Personal notes/0 - Computer Abstraction/Computer Abstraction.fdb_latexmk
Computer Architecture/CPU/Personal notes/0 - Computer Abstraction/Computer Abstraction.fls
Computer Architecture/CPU/Personal notes/0 - Computer Abstraction/Computer Abstraction.log
Computer Architecture/CPU/Personal notes/0 - Computer Abstraction/Computer Abstraction.run.xml
Computer Architecture/CPU/Personal notes/0 - Computer Abstraction/Computer Abstraction.synctex.gz
Computer Architecture/CPU/Personal notes/0 - Computer Abstraction/Computer Abstraction.toc

Computer Architecture/CPU/Personal notes/1 - Encoding and MIPS/Encoding and MIPS.aux
Computer Architecture/CPU/Personal notes/1 - Encoding and MIPS/Encoding and MIPS.fdb_latexmk
Computer Architecture/CPU/Personal notes/1 - Encoding and MIPS/Encoding and MIPS.fls
Computer Architecture/CPU/Personal notes/1 - Encoding and MIPS/Encoding and MIPS.log
Computer Architecture/CPU/Personal notes/1 - Encoding and MIPS/Encoding and MIPS.synctex.gz
Computer Architecture/CPU/Personal notes/1 - Encoding and MIPS/Encoding and MIPS.toc

Computer Architecture/CPU/Personal notes/2 - Control and Data Path/Control and Data Path.aux
Computer Architecture/CPU/Personal notes/2 - Control and Data Path/Control and Data Path.fdb_latexmk
Computer Architecture/CPU/Personal notes/2 - Control and Data Path/Control and Data Path.fls
Computer Architecture/CPU/Personal notes/2 - Control and Data Path/Control and Data Path.log
Computer Architecture/CPU/Personal notes/2 - Control and Data Path/Control and Data Path.synctex.gz
Computer Architecture/CPU/Personal notes/2 - Control and Data Path/Control and Data Path.toc

Computer Architecture/CPU/Personal notes/3 - ALU/ALU.aux
Computer Architecture/CPU/Personal notes/3 - ALU/ALU.fdb_latexmk
Computer Architecture/CPU/Personal notes/3 - ALU/ALU.fls
Computer Architecture/CPU/Personal notes/3 - ALU/ALU.log
Computer Architecture/CPU/Personal notes/3 - ALU/ALU.synctex.gz
Computer Architecture/CPU/Personal notes/3 - ALU/ALU.toc

Computer Architecture/CPU/Personal notes/4 - ISA and Performance/Performance.aux
Computer Architecture/CPU/Personal notes/4 - ISA and Performance/Performance.bbl
Computer Architecture/CPU/Personal notes/4 - ISA and Performance/Performance.bcf
Computer Architecture/CPU/Personal notes/4 - ISA and Performance/Performance.blg
Computer Architecture/CPU/Personal notes/4 - ISA and Performance/Performance.fdb_latexmk
Computer Architecture/CPU/Personal notes/4 - ISA and Performance/Performance.fls
Computer Architecture/CPU/Personal notes/4 - ISA and Performance/Performance.log
Computer Architecture/CPU/Personal notes/4 - ISA and Performance/Performance.run.xml
Computer Architecture/CPU/Personal notes/4 - ISA and Performance/Performance.synctex.gz
Computer Architecture/CPU/Personal notes/4 - ISA and Performance/Performance.toc

Computer Architecture/CPU/Personal notes/5 - Memory/Memory.aux
Computer Architecture/CPU/Personal notes/5 - Memory/Memory.bbl
Computer Architecture/CPU/Personal notes/5 - Memory/Memory.bcf
Computer Architecture/CPU/Personal notes/5 - Memory/Memory.blg
Computer Architecture/CPU/Personal notes/5 - Memory/Memory.fdb_latexmk
Computer Architecture/CPU/Personal notes/5 - Memory/Memory.fls
Computer Architecture/CPU/Personal notes/5 - Memory/Memory.log
Computer Architecture/CPU/Personal notes/5 - Memory/Memory.run.xml
Computer Architecture/CPU/Personal notes/5 - Memory/Memory.synctex.gz
Computer Architecture/CPU/Personal notes/5 - Memory/Memory.toc

Control Systems/Extra Notes
Control Systems/Lecture Notes
Control Systems/Personal notes/Old notes
Control Systems/Personal notes/New notes/Control systems.aux
Control Systems/Personal notes/New notes/Control systems.fdb_latexmk
Control Systems/Personal notes/New notes/Control systems.fls
Control Systems/Personal notes/New notes/Control systems.log
Control Systems/Personal notes/New notes/Control systems.synctex.gz

Discrete Mathematics/Extra Notes
Discrete Mathematics/Lectures Notes
Discrete Mathematics/Personal Notes/Discrete Maths/Discrete Mathematics.aux
Discrete Mathematics/Personal Notes/Discrete Maths/Discrete Mathematics.bbl
Discrete Mathematics/Personal Notes/Discrete Maths/Discrete Mathematics.bcf
Discrete Mathematics/Personal Notes/Discrete Maths/Discrete Mathematics.blg
Discrete Mathematics/Personal Notes/Discrete Maths/Discrete Mathematics.fdb_latexmk
Discrete Mathematics/Personal Notes/Discrete Maths/Discrete Mathematics.fls
Discrete Mathematics/Personal Notes/Discrete Maths/Discrete Mathematics.log
Discrete Mathematics/Personal Notes/Discrete Maths/Discrete Mathematics.run.xml
Discrete Mathematics/Personal Notes/Discrete Maths/Discrete Mathematics.synctex.gz
Discrete Mathematics/Personal Notes/Discrete Maths/Discrete Mathematics.toc
Discrete Mathematics/Personal Notes/Set Theory/Set theory.aux
Discrete Mathematics/Personal Notes/Set Theory/Set theory.bbl
Discrete Mathematics/Personal Notes/Set Theory/Set theory.bcf
Discrete Mathematics/Personal Notes/Set Theory/Set theory.blg
Discrete Mathematics/Personal Notes/Set Theory/Set theory.fdb_latexmk
Discrete Mathematics/Personal Notes/Set Theory/Set theory.fls
Discrete Mathematics/Personal Notes/Set Theory/Set theory.log
Discrete Mathematics/Personal Notes/Set Theory/Set theory.run.xml
Discrete Mathematics/Personal Notes/Set Theory/Set theory.synctex.gz
Discrete Mathematics/Personal Notes/Set Theory/Set theory.toc

Information processing/Signals/Coursework
Information processing/Signals/Personal Notes/New/Introduction/Signal.aux
Information processing/Signals/Personal Notes/New/Introduction/Signal.fdb_latexmk
Information processing/Signals/Personal Notes/New/Introduction/Signal.fls
Information processing/Signals/Personal Notes/New/Introduction/Signal.log
Information processing/Signals/Personal Notes/New/Introduction/Signal.synctex.gz
Information processing/Signals/Lectures
Information processing/Signals/Personal Notes/New/Introduction/Intro.aux
Information processing/Signals/Personal Notes/New/Introduction/Intro.fdb_latexmk
Information processing/Signals/Personal Notes/New/Introduction/Intro.fls
Information processing/Signals/Personal Notes/New/Introduction/Intro.log
Information processing/Signals/Personal Notes/New/Introduction/Intro.synctex.gz
Information processing/Signals/Personal Notes/Old
Information processing/Signals/fourier.pdf

Software systems/Lecture Notes
Software systems/Personal notes/Personal notes.aux
Software systems/Personal notes/Personal notes.fdb_latexmk
Software systems/Personal notes/Personal notes.fls
Software systems/Personal notes/Personal notes.log
Software systems/Personal notes/Personal notes.synctex.gz

Discrete Mathematics/Past paper

Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/db
Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/incremental_db
Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/output_files
Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/output_files
Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/hex_to_7seg.v.bak
Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/Task1_description.txt
Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/task1_top.qsf
Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/task1_top.qsf.bak
Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/task1_top.v.bak
Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/Task1.qpf
Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/Task1.qsf
Information processing/Information processing/Coursework/Lab 1/Task 1/Task 1 Quartus/Task1.qsf.bak
Communication/Coursework

Information processing/Information processing/Coursework/Lab 1/Task 2/Task 2 Quartus/db
Information processing/Information processing/Coursework/Lab 1/Task 2/Task 2 Quartus/incremental_db
Information processing/Information processing/Coursework/Lab 1/Task 2/Task 2 Quartus/output_files
Information processing/Information processing/Coursework/Lab 1/Task 2/Task 2 Quartus/hex_to_7seg.v.bak
Information processing/Information processing/Coursework/Lab 1/Task 2/Task 2 Quartus/task2_top.qsf.bak
Information processing/Information processing/Coursework/Lab 1/Task 2/Task 2 Quartus/task2_top.qsf
Information processing/Information processing/Coursework/Lab 1/Task 2/Task 2 Quartus/task2_top.qws
Information processing/Information processing/Coursework/Lab 1/Task 2/Task 2 Quartus/task2_top.v.bak
Information processing/Information processing/Coursework/Lab 1/Task 2/Task 2 Quartus/Task2.qpf
Computer Architecture/Compilers/Lecture notes/lecture1.pdf
Computer Architecture/Compilers/Lecture notes/lecture2.pdf

Information processing/Signals/Personal Notes/New/Introduction/1 - Introduction.aux
Information processing/Signals/Personal Notes/New/Introduction/1 - Introduction.fdb_latexmk
Information processing/Signals/Personal Notes/New/Introduction/1 - Introduction.fls
Information processing/Signals/Personal Notes/New/Introduction/1 - Introduction.log
Information processing/Signals/Personal Notes/New/Introduction/1 - Introduction.synctex.gz

Control Systems/Coursework
Information processing/Signals/Personal Notes/New/LTI/2 - LTI.aux
Information processing/Signals/Personal Notes/New/LTI/2 - LTI.fdb_latexmk
Information processing/Signals/Personal Notes/New/LTI/2 - LTI.fls
Information processing/Signals/Personal Notes/New/LTI/2 - LTI.log
Information processing/Signals/Personal Notes/New/LTI/2 - LTI.synctex.gz
Communication/Personal notes/Communication.aux
Communication/Personal notes/Communication.fdb_latexmk
Communication/Personal notes/Communication.fls
Communication/Personal notes/Communication.log
Communication/Personal notes/Communication.synctex.gz
Communication/Personal notes/Communication.aux
Communication/Personal notes/Communication.fdb_latexmk
Communication/Personal notes/Communication.fls
Communication/Personal notes/Communication.log
Communication/Personal notes/Communication.synctex.gz
